In [1]:
import os
import glob
import csv

In [2]:
path1 = '/home/sohan/Final_Project/archive/CASIA2/Au'
path2 = '/home/sohan/Final_Project/archive/CASIA2/Tp'
dir_list1= os.listdir(path1)
dir_list2= os.listdir(path2)
#print(dir_list[0:5])
len(dir_list1),len(dir_list2)

(7492, 5125)

In [11]:
def get_img_list(path):
  return [os.path.join(path,f) for f in os.listdir(path) if f.endswith('.jpg') or f.endswith('.tif')] 

def get_img_list2(path):
  return [os.path.join(path,f) for f in os.listdir(path)]

In [29]:
dir_list1 = get_img_list2(path1)
dir_list2 = get_img_list(path2)
len(dir_list1),len(dir_list2)

(7491, 5123)

In [30]:
for i in range (0,len(dir_list1)):
    dir_list1[i]=dir_list1[i][-16:]
    
for i in range (0,len(dir_list2)):
    dir_list2[i]=dir_list2[i][-40:]

In [31]:
dir_list1[:5]

['Au_cha_00003.jpg',
 'Au_nat_30448.jpg',
 'Au_sec_30217.jpg',
 'Au_cha_10160.jpg',
 'Au_sec_30488.jpg']

In [32]:
dir_list2[:5]

['Tp_S_NND_S_N_cha00092_cha00092_00412.tif',
 'Tp_S_CRN_S_N_ind00066_ind00066_10691.jpg',
 'Tp_D_NRN_M_N_nat10123_nat10122_11336.jpg',
 'Tp_S_CND_S_N_pla00057_pla00057_00590.tif',
 'Tp_D_NRN_M_B_ind00053_cha00063_11390.jpg']

In [33]:
keys = ('Filename','Type')
data = dict.fromkeys(keys)

In [34]:
dir_list = dir_list1 + dir_list2

In [35]:
len(dir_list)

12614

In [45]:
list=[]
c=0
for i in range (0,7491):
    list.append(0)
for i in range(7491,12614):
    list.append(1)

In [46]:
data['Filename'] = dir_list
data['Type'] = list

In [ ]:
data

In [43]:
len(data)

2

In [47]:
import pandas as pd
df = pd.DataFrame.from_dict(data)

In [48]:
df.head()

           Filename  Type
0  Au_cha_00003.jpg     0
1  Au_nat_30448.jpg     0
2  Au_sec_30217.jpg     0
3  Au_cha_10160.jpg     0
4  Au_sec_30488.jpg     0

In [49]:
df.tail()

                                       Filename  Type
12609  Tp_S_NRN_S_N_pla20099_pla20099_01999.tif     1
12610  Tp_D_NRN_S_N_ani10171_ani00097_12457.jpg     1
12611  Tp_S_NRN_S_N_cha10191_cha10191_12328.jpg     1
12612  Tp_S_CRN_S_N_pla00070_pla00070_11216.jpg     1
12613  Tp_S_NRN_S_N_ind20019_ind20019_01760.tif     1

In [50]:
csv_data = df.to_csv('CASIA_data.csv', index = False, header=None)